#
# Root filesystem archives
#
CONFIG_TARGET_ROOTFS_TARGZ=y

#
# Root filesystem images
#
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_IMAGES_GZIP=n

#
# Image Options
#
CONFIG_TARGET_KERNEL_PARTSIZE=16
CONFIG_TARGET_ROOTFS_PARTSIZE=104
# end of Target Images

#
# Global build settings
#
# CONFIG_ALL_KMODS is not set


#
# Hardening build options
#
# CONFIG_IB is not set

# CONFIG_IMAGEOPT is not set