name: Openwrt PKG Actions

on: 
  # push: 
  #   branches:
  #     - master
  schedule:
    - cron: 30 13 * * 6
  workflow_dispatch:

env:
  SDK_URL: https://downloads.openwrt.org/releases/19.07.4/targets/x86/64/openwrt-sdk-19.07.4-x86-64_gcc-7.5.0_musl.Linux-x86_64.tar.xz

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Grant permissions
      run: |
        chmod +x ${GITHUB_WORKSPACE}/scripts/*.sh

    - name: Initialization environment
      run: |
        ${GITHUB_WORKSPACE}/scripts/init_env.sh

    - name: Download OpenWrt SDK
      run: |
        SDK_HOME=$(head -c -8 <<< $(basename $SDK_URL))
        wget $SDK_URL
        tar xf $(basename $SDK_URL) -C ~/
        mv ~/$SDK_HOME ~/sdk

    - name: Download Packages
      working-directory: ~/sdk
      run: |
        ${GITHUB_WORKSPACE}/scripts/get_pkg.sh
        ./scripts/feeds update -a
        ./scripts/feeds install -a
        ${GITHUB_WORKSPACE}/scripts/edit_config.sh

    - name: Compile
      working-directory: ~/sdk
      run: |
        ${GITHUB_WORKSPACE}/scripts/compile_pkg.sh

    - name: Upload firmware for artifact
      uses: actions/upload-artifact@main
      with:
        path: ~/sdk/bin/packages