name: Openwrt Actions

on: 
  # push: 
  #   branches:
  #     - main
  #schedule:
  #  - cron: 30 13 * * 6
  workflow_dispatch:

env:
  UPLOAD_FIRMWARE: true
  UPLOAD_COWTRANSFER: true
  UPLOAD_WETRANSFER: true

jobs:
  Build_OpenWrt:
    runs-on: ubuntu-20.04
        
    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        echo "hello $PWD"
        echo "0"
        ls $PWD
        echo "1"
        ls /home/runner/work/openwrt-actions
        echo "2"
        ls /home/runner/work
        chmod +x ${GITHUB_WORKSPACE}/SCRIPTS/*.sh
        ${GITHUB_WORKSPACE}/SCRIPTS/01_init_env.sh

    - name: GET_READY
      run: |
        ${GITHUB_WORKSPACE}/SCRIPTS/02_get_ready.sh
        ln -sf /home/runner/work/openwrt $GITHUB_WORKSPACE/openwrt

    - name: PREPAR_PACKAGE
      run: |
        cd $OPENWRTDIR
        ${GITHUB_WORKSPACE}/SCRIPTS/03_prepare_package.sh