name: Openwrt Actions

on: 
  # push: 
  #   branches:
  #     - main
  #schedule:
  #  - cron: 30 13 * * 6
  workflow_dispatch:

env:
  UPLOAD_FIRMWARE: true
  UPLOAD_COWTRANSFER: true
  UPLOAD_WETRANSFER: true

jobs:
  OpenWrt Bulid:
    runs-on: ubuntu-20.04
        
    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        chmod +x ${GITHUB_WORKSPACE}/SCRIPTS/*.sh
        ${GITHUB_WORKSPACE}/SCRIPTS/01_init_env.sh

    - name: GET_READY
      working-directory: /workdir
      run: |
        ${GITHUB_WORKSPACE}/SCRIPTS/02_get_ready.sh
        ln -sf /workdir/openwrt $GITHUB_WORKSPACE/openwrt

    - name: PREPAR_PACKAGE
      working-directory: /workdir/openwrt
      run: |
        echo "hello world $PWD"
